.form-content{
  padding-left: 1.5em;
  padding-right: 1.5em;
}
.card-layout:not(:nth-of-type(1)){
  margin-top: 1em;
}
.property-container{
  width: auto;
  height: auto;
  border: 1px solid #ebedf0;
}
.property-header{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 3em;
  width: 100%;
  border-bottom: 1px solid #ebedf0;
}
.property-header__text-container{
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 100%;
  width: 100%;
}
.property-header__text{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 1.05em;
  height: 100%;
}
.property-header__text-1{
  width: 220px;
  text-align: center;
  border-right: 1px solid #ebedf0;
  flex-shrink: 0;
}
.property-header__text-2{
  width: 100%;
  text-align: center;
}
.property-header__action{
  flex-shrink: 0;
  width: 120px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 100%;
  padding: 0 1.5em;
  border-left: 1px solid #ebedf0;
}
.property-content{
  width: 100%;
  height: 100%;
}
.property-item{
  height: 3em;
  width: 100%;
  display: flex;
  flex-direction: row;
}
.property-item__name{
  flex-shrink: 0;
  height: 100%;
  width: 220px;
  padding: 0 1em;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border-right: 1px solid #ebedf0;
}
.property-item__content{
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0 1em;
  overflow-x: auto;
  overflow-y: hidden;
}
.property-subitem{
  display: flex;
  flex-direction: row;
  align-items: center;
  border: 1px solid #d9d9d9;
  border-radius: 4px;
}
.property-subitem:not(:nth-of-type(1)){
  margin-left: 0.8em;
}
.property-subitem__content{
  width: 9em;
}
.property-subitem__action{
  height: 100%;
  margin: 0 0.3em;
}
.property-subitem__action-item{
  width: 1em;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.property-subitem__action-item:hover{
  color:#1890ff;
  cursor: pointer;
}
.property-subitem__input{
  border: none;
  border-radius: 0;
  border-right: 1px solid #d9d9d9;
}
.property-item__action{
  width: 120px;
  flex-shrink: 0;
  border-left: 1px solid #ebedf0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  padding: 0 0.5em;
}
.property-item__action-item{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 2em;
  width: 2em;
  border-radius: 50%;
  border: 1px solid #d9d9d9;
}
.property-item__action-item:hover{
  color:#1890ff;
  cursor: pointer;
  border-color: #1890ff;
}
